@import '../../styles/colours';

.dashboardCard {
    padding: 16px;
    box-shadow: 0 1px 2px 1px rgb(113 113 121 / 50%);
    border-radius: 8px;
    margin-bottom: 32px;

    .dashboardCardBody {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;

        .dashboardCardImg {
            flex: 1;
            text-align: center;
        }
    
        .dashboardCardText {
        }
    }
    
    .dashboardCardFooter {
        background: $colourInteractionSuccess10;
        display: flex;
        flex-wrap: nowrap;
        column-gap: 16px;
        margin: 0 -16px -16px -16px;
        padding: 16px;

        .dbCardFooterIcon {
            width: 32px;
        }

        .dbCardFooterText {
            flex: 1;

            .dbFooterinfo {
                font-size: 20px;
                line-height: 1.2;
                margin-bottom: 8px;
                display: block;
            }
        }
    }

    @media (min-width: 480px) {
		padding: 32px;

        .dashboardCardBody {
            display: flex;
            flex-wrap: nowrap;
            column-gap: 32px;
    
            .dashboardCardImg {
                flex: 1;
                max-width: 33.333%;
                flex-basis: 33.333%;
            }
        
            .dashboardCardText {
                max-width: 66.666%;
                flex-basis: 66.666%;
            }
        }

        .dashboardCardFooter {
            flex-wrap: wrap;
            margin: 0 -32px -32px -32px;
            padding: 32px;
        }
	}
}

.labelSuccess {
    background: $colourInteractionSuccess100;
    color: $colourBrand03;
    padding: 3px 6px;
    border-radius: 4px;
    margin-top: 8px;
    display: inline-block;
}