.iconList {
  // box-shadow: 0 1px 2px 1px rgb(113 113 121 / 50%);
  // border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  padding: 0.5em;

  &:last-child {
    margin-top: 16px;
  }

  .iconListIcon {

    width: 30px;
    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
      margin-right: 16px;
    }
  }

  .iconListText {
    width: 270px;
    font-size: 1.125em;

    p {
      margin: 0;
    }
    .p-small {
      font-size: 15px;
    }
  }

  @media (min-width: 480px) {

    // padding: 32px;
    .iconListText {
      width: 100%;
      font-size: 1.4em;

      .p-small {
        font-size: 16px !important;
        color: hotpink;
      }
    }

    &:last-child {
      margin-top: 0;
    }
  }
}