// Colours primary
$colourBrand01: #002979;
$colourBrand02: #ED0B14;
$colourBrand03: #ffffff;

// Colours secondary
$colourSecondaryPink100: #E01F7B;
$colourSecondaryPurple100: #582C83;
$colourSecondaryNavy100: #09133A;

// Colours tertiary
$colourTertiaryOrange100: #FB6B44;

// Colour text
$colourTextHeadline: #13131F;
$colourTextBody: #42424C;

// Lines and dividers
$colourUi20: #D0D0D2;

// Interactions
// CTAs and links
$colourInteractionPrimary100: $colourBrand01;

// Link hover etc
$colourInteractionFeedback100: #006AC0;

// Button hover box shadow
$colourInteractionFeedback50: #81B6E0;

// Success
$colourInteractionSuccess100: #3B8634;

// Success bgd
$colourInteractionSuccess10: #EBF3EB;